extends layout

block content
	.w3-card-4
		header.w3-container.w3-pale-red
			style.
				.pagination {
				display: inline-block;
				}
				.pagination a {
				color: black;
				float: left;
				padding: 8px 16px;
				text-decoration: none;
				transition: background-color .3s;
				border: 1px solid #ddd;
				}
				.pagination a.active {
				background-color: LightGray;
				color: white;
				border: 1px solid LightGray;
				}
				.pagination a:hover:not(.active) {background-color: #ddd;}
			h3.w3-left Aluno nº#{info.numero}
				.w3-container
					h5 
						table(class="w3-table-all")
							tr
								th Numero
									td=info.numero
							tr
								th Nome
									td=info.nome
							tr
								th Git
									td
										a(href=info.git) #{info.git}
						if info.tpc.length > 0
							table(class="w3-table-all")
								tr
									th TPC1
									th TPC2
									th TPC3
									th TPC4
									th TPC5
									th TPC6
									th TPC7
									th TPC8
								tr
									each t in info.tpc
										if (t == 1)
											td Feito
										else
											td Por fazer
		footer.w3-container.w3-pale-red
			adress.w3-right
				a(href='/alunos')
					button.w3-button.w3-red.w3-margin Voltar
			adress.w3-right
				a(href='/alunos/editar/' + info.numero)
					button.w3-button.w3-green.w3-margin Editar
			adress.w3-right
				a(href='/alunos/delete/' + info.numero)
					button.w3-button.w3-green.w3-margin Apagar